html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/connector.css')
    body
        div#column-content
            img#logo(src= '/assets/connector/Taiji.png')
            span#app
                | DrillPlan
        
        div
            p.heading
                | Application Type
            p
                input(type="text" value=appType readonly)

        div
            p.heading
                | Group
            p
                input(type="text" value=groupName readonly)

        div
            p.heading
                | State
            p
                input(type="text" value=state readonly)

        div
            p.heading
                | WebHook
            p
                input(type="text" value=webhookUrl readonly)

        div.gap
            a(href="google.com")
                input.btn(type="button" value="Done")
