html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/connector.css')
    body
        div#column-content
            img#logo(src= '/assets/connector/Taiji.png')
            span#app
                | DrillPlan
        
        div
            p.heading
                | Connector Setup Complete!
            //- p.info
            //-     | #{appType}

        //- div
        //-     p.heading
        //-         | Group
        //-     p.info
        //-         | #{groupName}

        //- div
        //-     p.heading
        //-         | State
        //-     p.info
        //-         | #{state}

        //- div
        //-     p.heading
        //-         | WebHook
        //-     p.info
        //-         | #{webhookUrl}

        div.gap
            input.btn(type="button" value="Done" onclick='done()')

        script.
            function done() {
                console.log('closing time');
                window.close();
                return false;
            }