html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/connector.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        
    body
        div#column-content
            img#logo(src= '/assets/connector/DP.png')
            span#app
                | DrillPlan
        
        p.begin
            | The DrillPlan connector sends notifications about tasks and activities related to your projects in DrillPlan.<br/>
            | If you don't already have an account, create one on the DrillPlan website.

        form
            div
                p.heading
                    | Project
                p
                    | Choose the DrillPlan project that you want to use to configure this connector:

                select.projects(name="project")
                    each item in projects
                        option(value=item.id) #{item.name}

            div
                p.heading
                    | Notifications
                p
                    | Select the notifications to which you would like to subscribe:
                div.container
                    each notif in events
                        label.notif
                            input.spacer(type="checkbox" name="notification" value=notif.name)
                            | #{notif.name} <br/>

            div.gap
                a#submit-btn
                    input.btn(type="submit" value="Connect")

        script.
            var original_url = '!{registerUrl}'
            $( "form" ).on( "submit", function( event ) {
                event.preventDefault();
                var state = $( this ).serialize();
                var url = original_url + "&state=" + encodeURIComponent(state);
                console.log('url: ' + url);
                window.location = url;
            });


