html
    head
        title= title
        link(rel='stylesheet', href='/assets/stylesheets/connector.css')
    body
        div#column-content
            img#logo(src= '/assets/connector/Taiji.png')
            span#app
                | DrillPlan
        
        p.begin
            | The DrillPlan connector sends notifications about tasks and activities related to your projects in DrillPlan.<br/>
            | If you don't already have an account, create one on the DrillPlan website.

        div
            p.heading
                | Project
            p
                | Choose the DrillPlan project that you want to use to configure this connector:

            select.projects()
                each item in projects
                    option(value=item.id) #{item.name}

        div
            p.heading
                | Notifications
            p
                | Select the notifications to which you would like to subscribe:
            div.container
                each notif in events
                    label.notif
                        input.spacer(type="checkbox" name="notification" value=notif.name)
                        | #{notif.name} <br/>

        div.gap
            a(href=registerUrl)
                input.btn(type="button" value="Connect")
